@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #000000;
  --secondary: #F19F1F;
  --tertiary: #EA1E23ff;
  --primaryred: #EA1E23ff;
  --primary-grey: #B9B9B8ff;
  --blacktransgradient: linear-gradient(to top,
      #000000,
      transparent);
}

*:focus {
  outline: none;
  border: none;
}

.input-group {
  background-color: rgba(241, 159, 31, 0.3);
}

*[placeholder] {
  font-size: small;
  background-color: rgba(164, 198, 57, 0);
  border: none;
  font-weight: bold;
  color: #F19F1F;
}

*[placeholder]:focus {
  font-size: small;
  border: none;
}

textarea {
  resize: none;
}


main {
  overflow: hidden;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Baloo Thambi 2", system-ui;
}

.hero-image::after,
.subhero::after {
  left: 0;
  position: absolute;
  content: "";
  background: var(--blacktransgradient);
  width: 100%;
  height: 100vh;
}

h1,
h2 {
  text-wrap: balance;
  font-family: "Baloo Thambi 2", system-ui;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.7);
}

.form-container form {
  background-color: rgba(255, 255, 255, 0.8);
}

.lined_header>h2 {
  /* font-size: 4em; */
  font-weight: 800;
  font-family: "Baloo Thambi 2", system-ui;
  margin-bottom: 20px;
  color: #108896;
  letter-spacing: -.025em;
  text-transform: uppercase;
}

.lined_header>h2:after,
.lined_header>h2:before {
  width: 97px;
  background-color: #000000;
  position: relative;
  content: '';
  width: 60px;
  opacity: 0.2;
  height: 2px;
  display: inline-block;
  vertical-align: middle;
  margin: 20px;
}

@media only screen and (max-width: 1024px) {
  .lined_header>h2:after,
  .lined_header>h2:before {
    background-color: #000000;
    position: relative;
    content: '';
    width: 60px;
    opacity: 0.2;
    height: 2px;
    display: inline-block;
    vertical-align: middle;
    margin: 20px;
  }
}


.points {
  overflow: hidden;
  height: 800px;
  transition: max-height 0.4s ease;
  background-color: #108896;
}

/* .points:hover {
  background-color: #108896;
} */

.points>p {
  display: none;
  max-height: 0px;
}

.points:hover>p {
  display: block;
  max-height: 500px;
  /* bigger than content */
}

.parallax {
  background-image: url("/happypawss-website/images/pexels-lum3n-44775-406014.jpg");
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.zoomImg {
  overflow: hidden;
  transition: 0.75s ease-in-out;
}

.zoomImg>img {
  transition: 0.75s ease-in-out;
}

.zoomImg:hover>img {
  transform: scale(1.2);
}

.hoverstate {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: block;
  z-index: 1;
  transition: 0.25s ease-in-out;
}

.hoverstate:hover {
  transform: scale(1.05);
}

/* .hoverstate::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: opacity 240ms linear;
  opacity: 0;
}

.hoverstate:hover::before {
  opacity: 1;
}

.hoverstate::after {
  content: '';
  height: 150%;
  width: 0.25em;
  background-color: #fff;
  box-shadow: 0px 0px 8px 4px #fff;
  transform: translateX(-1em);
}

.hoverstate:hover::after {
  animation-duration: 300ms;
  animation-name: sweep;
}

@keyframes sweep {
  from {
    transform: translateX(-1em)
  }

  to {
    transform: translateX(12.5em);
    animation-timing-function: ease-out;
  }
} */