@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #000000;
  --secondary: #F19F1F;
  --tertiary: #EA1E23ff;
  --primaryred: #EA1E23ff;
  --primary-grey: #B9B9B8ff;
  --blacktransgradient: linear-gradient(to top,
      #000000,
      transparent);
}

main {
  overflow: hidden;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Baloo Thambi 2", system-ui;
}

.hero-image::after,
.subhero::after {
  left: 0;
  position: absolute;
  content: "";
  background: var(--blacktransgradient);
  width: 100%;
  height: 100vh;
}

h1,
h2 {
  text-wrap: balance;
  font-family: "Baloo Thambi 2", system-ui;
}


.lined_header>h2 {
  font-size: 4em;
  font-weight: 800;
  font-family: "Baloo Thambi 2", system-ui;
  margin-bottom: 20px;
  margin-top: 0px;
  color: #108896;
  letter-spacing: -.025em;
  text-transform: uppercase;
}

.lined_header>h2:after,
.lined_header>h2:before {
  background-color: #000000;
  position: relative;
  content: '';
  width: 97px;
  opacity: 0.2;
  height: 2px;
  display: inline-block;
  vertical-align: middle;
  margin: 20px;
}


.points {
  overflow: hidden;
  height: 800px;
  transition: max-height 0.4s ease;
  background-color: #108896;
}

/* .points:hover {
  background-color: #108896;
} */

.points>p {
  display: none;
  max-height: 0px;
}

.points:hover>p {
  display: block;
  max-height: 500px;
  /* bigger than content */
}